<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <%= link_to 'New Ticket', new_ticket_path, class: "btn btn-primary " %>
      
    </div>
  </div>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Asunto</th>
      <th>Description</th>
      <th>Estado</th>
      <th colspan="13"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% user1 = User.find(current_user)%>
      <% user1.assignments.each do |assignment| %>
          <% ticket = Ticket.find(assignment.ticket_id) %>
            
            <tr>  
              <td>Ticket <%= ticket.id%></td>
               <td><%= ticket.name%></td>
               <td><%= ticket.description%></td>
               <td><%= assignment.status%></td> 
              

             
        
              <td><%= link_to 'Show', assignment, class: "btn btn-success" %></td>
              <td><%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-warning"  %></td>
              <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              <td><% %></td>     
            </tr>
      <% end %>
  </tbody>

</table>

<br>



